@model devbright.Models.Lead

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            Home Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.leadID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
